
.id {
    background-color: gray;
}

td, th{
    padding:15px 25px;
    border:1px solid #333;
}
table {
    border: 3px solid #333;
    border-collapse:collapse;
}
thead {
    background-color:#ccc;
}
caption {
    border: black;
    font-size:20px;
    color:blue;
}